[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
psycopg2 = "*"
pyyaml = "*"
gunicorn = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.8"
